body {
  margin: 1.2em;
  background: linear-gradient(45deg,rgba(170, 224, 255, 0.17),rgba(120, 255, 120, 0.44),rgba(110, 255, 85, 0.4),rgba(247, 255, 130, 0.6)),linear-gradient(-45deg,#DAF1FF,#F3D8B6,rgba(123, 182, 255, 0.32),#FCFFD2);
  background: linear-gradient(45deg,rgba(211, 239, 255, 0.42),rgba(182, 243, 182, 0.44),rgba(143, 255, 123, 0.4),rgba(252, 255, 210, 0.48)),linear-gradient(-45deg,#DAF1FF,#F3D8B6,rgba(255, 123, 214, 0.17),#FCFFD2);
  background-attachment: fixed;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, "微軟正黑體", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 40%;
  min-width: 450px;
  max-width: 800px;
  margin: auto;
  background: rgba(255, 255, 255, 0.48);
  overflow: auto;
  padding: 1.0em 2em 1.6em 2em;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.title {
  text-align:center;
  color: #58636B;
  font-size:15px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  margin-bottom: 30px;
}
.avatar {
  border-radius: 50%;
  float: left;
  position: absolute;
  display: flex;
}
.outer {
  background: #FFFCDD;
  word-break: break-all;
  max-width: 70%;
  background: #FFFBD4;
  padding: 6px 12px;
  border-radius: 1.3em;
  margin: 11px 11px 25px 11px;
  clear: both;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.09);
  position: relative;
}
.message-text {
  font-size: 17px;
  line-height: 1.28;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.outer.left {
  background: #f1f0f0;
  float: left;
  margin-left: 36px;
  color: black;
}
.outer.left:hover {
  background-color: #e5e4e4;
}
.outer.right {
  float: right;
  background: #0084ff;
  color: white;
}
.outer.right:hover {
  background-color: #0077e5;
}
.outer > div:before {
  content: attr(title);
  position: absolute;
  top: -1.2em;
  left: 0.7em;
  font-size: 0.8em;
  color: #5C6D86;
  display: block;
  width: 15em;
}
.outer > div:after {
  content: attr(time);
  position: absolute;
  bottom: -1.5em;
  left: 1em;
  font-size: 0.8em;
  color: #5C6D86;
  display: block;
  width: 15em;
  opacity: 0;
  transition: 0.2s all;
  transform: translateY(-3px);
  visibility: hidden;
}
.outer.right > div:after{
  left: initial;
  right: 1em;
  text-align: right;
}
.outer:hover > div:after {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.sticker-img {
  max-width: 120px;
  max-height: 120px;
}
.image-img {
  max-width: 100%;
}
.event-outer {
  clear: both;
  text-align: center;
}
.event-snippet {
  font-size: 12px;
  color: rgba(0, 0, 0, .40);
}
.reaction {
  position: absolute;
  right: 0;
  padding: 0 2px;
  align-items: center;
  background: #fff;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  bottom: -15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  color: #626262;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.reactionEmoji {

}
.reactionNum {
  font-size: 13px;
  font-weight: 600;
  margin: 0 -3px;
  padding: 4px;
  color: #0084ff;
}
@media screen and (max-width: 569px) {
  .container{
    min-width: initial;
    width: 85%;
  }
}
#define {
  text-align:center;
}
